# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Prisma
/generated/prisma

# Logs
npm-debug.log*
*.log

# Sistema (Windows/Mac)
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/

# Build / cache
dist/
build/
coverage/